* {
  margin: 0;
}

body {
  background-color: #000000 !important;
}

.shadow-1 {
  top: -50%;
  left: 0;
  position: fixed;
  z-index: -99;
  width: 900px;
  height: 900px;
  flex-shrink: 0;
  border-radius: 904px;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, #FF7700 100%);
}

.shadow-2 {
  bottom: -40%;
  right: 0;
  position: fixed;
  z-index: -99;
  width: 900px;
  height: 900px;
  flex-shrink: 0;
  border-radius: 875px;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, #FF7700 100%);
}


#messaging-input-wrapper {
  border-radius: 100px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.video-container {
  width: 100%; /* Full width of the parent container */
  position: relative;
  overflow: hidden; /* Ensures no overflow but let's monitor this */
  padding-top: 66.67%; /* Aspect ratio: Height is 66.67% of the width */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#messaging-input {
  flex-grow: 1;
  color: white;
  border: none;
  height: 100%;
  background: transparent;
  resize: horizontal;
}

#messaging-input::placeholder {
  color: #808080;
}

#messaging-input:focus {
  outline: none;
}

.link-1 {
  text-decoration: none;
  color: inherit;
}

.link-1 {
  text-decoration: none;
  color: inherit;
}

#toggle-switch-wrapper {
  display: flex;
  width: 100%;
  height: 62px;
  border-radius: 200px;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  padding: 0;
  border: 1px solid white;
}

#toggle-switch-button {
  position: absolute;
  background: #FF9121;
  z-index: 1;
  border: 0;
  width: 50%;
  height: 62px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
}

.toggle-switch-item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 50%;
  height: 100%;
}

.toggle-left {
  transition: .3s ease-in-out;
  transform: translateX(0);
}

.toggle-right {
  transition: .3s ease-in-out;
  transform: translateX(100%);
}

#buy-chips-input {
  background: black;
  color: white;
  border: 2px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

#buy-chips-input:focus {
  outline: none;
}

.no-link-decor {
  color: white;
  text-decoration: none;
}